/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .header-info ul li {
        margin-right: 15px;
    }
    .main-menu ul li {
        margin-left: 16px;
    }
    .hero-area {
        background-position: center center;
    }
    .watermark-text {
        font-size: 200px;
    }
    .s-back-title {
        font-size: 80px;
    }
    .section-title h2 {
    font-size: 35px;
}
.event-img img {
    width: 100%;
}
.up-event-b{
    margin-top: 15px;
}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .up-event-b{
    margin-top: 15px;
}
}

/* small mobile :320px. */
@media (max-width: 767px) {
    .up-event-b{
    margin-top: 15px;
}
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .up-event-b{
    margin-top: 15px;
}
}
